/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-content {
  margin-top: 70px;
  position: relative;
  top: 0;
  bottom: 100%;
  right: 0;
  transition: right 0.5s ease-in-out;
  background:#ffffff;
  flex:1;
}

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.content-area{
  padding-bottom: 50px;
}