/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  @include font-size(1);
  min-width: 100%;
  min-height: 100%;
}
body {
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#page {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  @include mobile {
    background: $color__blue;
  }
}

blockquote,
q {
  quotes: '' '';

  &:before,
  &:after {
    content: '';
  }
}

hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: $base__space-unit;
  max-width: 1280px;
}

ul,
ol {
  margin: 0 0 $base__space-unit ($base__space-unit * 2);
  max-width: 1024px;
}

ul {
  list-style: none;
  //list-style-image: url('../../assets//icons//Arrow_Turquoise2.png');
  width: 80%;
  margin: 10px auto;
  padding-left: 20px;
  li {
    &:before{
      content: '';
      display: inline-block;
      height: 12px;
      width: 12px;
      background: url('../../assets/icons/Arrow_Turquoise2.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(100%);
    }
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

ol {
  list-style: decimal;
  width: 80%;
  margin: 10px auto;
  padding-left: 30px;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: $base__space-unit;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $base__space-unit $base__space-unit;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

table {
  margin: 0 0 $base__space-unit;
  width: 100%;
  max-width: 1024px;
}
p {
  font-family: 'Noto Sans';
  font-size: 18px;
  max-width: 1024px;
}
a {
  font-family: 'Noto Sans';
  text-decoration: none;
}
h1 {
  text-align: center;
  font-family: 'Lalezar';
  margin: 30px auto;
  letter-spacing: 5px;
  font-size: 50px;
  max-width: 1280px;
}
h2{
  text-align: center;
  margin:30px auto;
  max-width: 1280px;
}
.card{
  h2{
    margin-top: 0px;
  }
}
.content-company-history{
  h2{
    margin:0 auto;
  }
}
.entry-header {
  .entry-title {
    width: 100vw;
    max-width: 1280px;
    text-align: center;
    color: $color__blue;
    z-index: 100;
    margin: 80px auto;
    border-bottom: 1px solid $color__teal;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 90%;
    @include mobile {
      letter-spacing: 1px;
      font-size: 30px;
    }
  }
}

figure .wp-block-image {
  img {
    width: 500px;
  }
}
.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin: 0px;
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
   // margin-top: 20px;
  }
  @include wide{
    margin-right: 20%;
  }
  @include superWide{
    width:41vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 0px;
    a{
      margin-right: auto;
    }
  }
  img {
    object-fit: contain;
  }
}
.float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 50%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin: 0px;
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  @include superWide{
    width:41vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 0px;
    a{
      margin-left: auto;
    }
  }
  img {
    object-fit: contain;
  }
}
.normal-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  img {
    //margin-left: 20%;
    object-fit: contain;
  }
  @include mobile {
    //margin: 0px;
    width: 80%;
    margin-bottom: 20px;
  }
}
.normal-video {
  width: 80%;
  height: 50vw;
  max-height: 600px;
  margin: 15px auto;
  display: block;
  max-width: 1024px;
}
.align-left {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 10px;
  text-align: left;
}
.image-align-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  margin: 30px auto;
}
.image-align-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  margin: 30px auto;
}
.image-align-center {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
  position: relative;
  @include mobile {
    max-width: 100%;
    margin-top: 0px;
  }
  p {
    display: inline;
    font-size: 16px;
    font-style: italic;
    color: $color__grey;
    text-align: center;
    margin: 15px 0px;
    padding: 15px;
    width: auto;
    max-width: 90%;
    &:nth-of-type(2){
      padding-top: 0px;
      margin-top: 0px;
    }
    @include mobile {
      width: 90%;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 14px;
    }
  }
  &:before {
    content: '';
    display: block;
    background: url('../../assets/icons/quote.svg') no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 6px 0 0;
    transform: rotate(180deg);
    position: absolute;
    top: 35px;
    left: 30px;
    @include mobile {
      display: none;
    }
  }
  &:after {
    content: '';
    display: block;
    background: url('../../assets/icons/quote.svg') no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    margin: 0 6px 0 0;
    position: absolute;
    bottom: 35px;
    right: 30px;
    @include mobile {
      display: none;
    }
  }
}

.wp-block-separator {
  margin: 0px auto;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: $color__blue;
  max-width: 1024px;
}
h3 {
  text-align: center;
  color: $color__blue;
  font-family: 'Lalezar';
  margin: 50px auto;
  letter-spacing: 2px;
  @include mobile {
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

p {
  width: 80%;
  margin: 10px auto;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  color: $color__grey;
  font-style: italic;
  width: 80%;
  margin: 10px auto;
  text-align: left;
}
h5 {
  width: 80%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

table {
  width: 80%;
  margin: 30px auto;
  border-bottom: 2px solid $color__light_grey1;
  @include mobile {
    width: 95%;
  }
  tr {
    &:nth-child(2n + 1) {
      background: $color__light_grey1;
    }
    height: 50px;

    &:hover {
      background: $color__light_grey;
    }
    th {
      text-align: center;
      background: $color__light_blue;
      @include mobile {
        border: 1px solid $color__light_blue;
      }
    }
    td {
      text-align: center;
      @include mobile {
        border: 1px solid $color__light_blue;
      }
    }
  }
}

.carousel-indicators {
  margin-left: auto;
  margin-right: auto;
}

.get-contact-info {
  //box-shadow: none;
  box-shadow: 0px 0px 10px #bbb;
  border-radius: 50px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 20px;
  position: fixed;
  bottom: 30px;
  right: -140px;
  z-index: 999;
  transition: all 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: $color__fixed_contact_background;
  border: none;
  @include mobile{
    padding: 5px;
  }
  .contact-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .button-icon-top {
      width: 30px;
      height: 30px;
      object-fit: contain;
      transition: all 0.5s;
      transform: scaleX(-1);
      margin-bottom: 50px;
      @include mobile {
        width: 30px;
        height: 30px;
        margin-bottom: auto;
        margin-top: auto;
        margin-bottom: 30px;
        margin: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
      }
    }
    .button-icon-bottom{
      width: 30px;
      height: 30px;
      object-fit: contain;
      transition: all 0.5s;
      transform: scaleX(-1);
      @include mobile {
        width: 30px;
        height: 30px;
        margin-bottom: auto;
        margin-top: auto;
        margin: 10px;
        margin-right: 0px;
        
      }
    }
    .contact-hint {
      font-size: 13px;
      position: absolute;
      left: -8px;
      //bottom: 0px;
      text-align: center;
      margin-bottom: 10px;
      margin: auto 0;
      @include mobile {
        display: none;
        left: 0px;
      }
    }
  }

  .contact-fixed-text {
    width: 140px;
    transition: all 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  &:hover {
    box-shadow: none;
    background: $color__fixed_contact_background_hover;
    right: 0px;
    border: none;
    .button-icon-top{
      transform: scale(1.2);
      margin-bottom: 10px;
      margin-left: 10px;
      @include mobile{
        width: 35px;
        height: 35px;
        margin-bottom: auto;
        margin-top: 10px;
        transform: scale(1);
        margin-bottom: 10px;
      }
    }
    .button-icon-bottom{
      transform: scale(1.2);
      margin-bottom: 0px;
      margin-left: 10px;
      @include mobile{
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
        margin-top: auto;
        transform: scale(1);
      }
    }
    .contact-hint {
     visibility: hidden;
     @include mobile{
       visibility: visible;
     }
    }
    @include mobile {
      right: -140px;
    }
  }
  &:focus {
    outline: none;
  }
  &:visited {
    outline: none;
  }
  
}
.modal-body {
  padding-left: 30px;
  padding-right: 30px;
}

.modal-footer {
  button {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.references{
  @include mobile{
    display: none;
  }
  &:hover{
    .references-text{
      visibility: visible !important;
    }
  }
  p{
    font-size: 12px;
    color: #c4c4c4;
    text-align: right;
  }
  .references-text{
    visibility: hidden;
    font-size: 8px;
    margin-left: auto;
    padding-right: 10%;
    text-align: right;
  }
}

#post-231{
  @include superWide{
    .float-right{
      width: 45vw;
    }
  }
  
}