/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  @include font-size(1);
  min-width: 100%;
  min-height: 100%;
}
body {
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#page {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  @include mobile {
    background: $color__blue;
  }
}

blockquote,
q {
  quotes: '' '';

  &:before,
  &:after {
    content: '';
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: $base__space-unit;
}

ul,
ol {
  margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
  list-style: disc;
  width: 80%;
  margin: 10px auto;
  padding-left: 20px;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

ol {
  list-style: decimal;
  width: 80%;
  margin: 10px auto;
  padding-left: 30px;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: $base__space-unit;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $base__space-unit $base__space-unit;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

table {
  margin: 0 0 $base__space-unit;
  width: 100%;
}
p {
  font-family: 'Noto Sans';
  font-size: 18px;
}
a {
  font-family: 'Noto Sans';
  text-decoration: none;
}
h1 {
  text-align: center;
  font-family: 'Lalezar';
  margin: 30px auto;
  letter-spacing: 5px;
  font-size: 50px;
}
.entry-header {
  .entry-title {
    width: 100vw;
    max-width: 1280px;
    text-align: center;
    color: $color__blue;
    z-index: 100;
    margin: 80px auto;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 90%;
    @include mobile {
      letter-spacing: 1px;
      font-size: 30px;
    }
  }
}

figure .wp-block-image {
  img {
    width: 500px;
  }
}
.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin: 0px;
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  img {
    object-fit: contain;
  }
}
.float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 50%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin: 0px;
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  img {
    object-fit: contain;
  }
}
.normal-image {
  img {
    margin-left: 10%;
    object-fit: contain;
  }
  @include mobile {
    margin: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
}
.normal-video{
  width: 80vw;
  height: 50vw;
  margin: 15px auto;
  display: block;
}
.align-left {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 10px;
  text-align: left;
}

blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 80%;
  margin: 20px auto;
  position: relative;
  p {
    display: inline;
    font-size: 16px;
    font-style: italic;
    color: $color__grey;
    text-align: center;
    margin: 15px 0px;
    padding: 15px;
    width: auto;
    max-width: 90%;
    @include mobile {
      width: 90%;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 14px;
    }
  }
  &:before {
    content: '';
    display: block;
    background: url('../../assets/icons/quote.svg') no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 6px 0 0;
    transform: rotate(180deg);
    position: absolute;
    top: 35px;
    left: 30px;
    @include mobile {
      display: none;
    }
  }
  &:after {
    content: '';
    display: block;
    background: url('../../assets/icons/quote.svg') no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    margin: 0 6px 0 0;
    position: absolute;
    bottom: 35px;
    right: 30px;
    @include mobile {
      display: none;
    }
  }
}

.wp-block-separator {
  margin: 0px auto;
  width: 80%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: $color__blue;
}
h3 {
  text-align: center;
  color: $color__blue;
  font-family: 'Lalezar';
  margin: 50px auto;
  letter-spacing: 2px;
  @include mobile {
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

p {
  width: 80%;
  margin: 10px auto;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  color: $color__grey;
  font-style: italic;
  width: 80%;
  margin: 10px auto;
  text-align: left;
}
h5 {
  width: 80%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

table {
  width: 80%;
  margin: 30px auto;
  border-bottom: 2px solid $color__light_grey1;
  @include mobile {
    width: 95%;
  }
  tr {
    &:nth-child(2n + 1) {
      background: $color__light_grey1;
    }
    height: 50px;

    &:hover {
      background: $color__light_grey;
    }
    th {
      text-align: center;
      background: $color__light_blue;
      @include mobile {
        border: 1px solid $color__light_blue;
      }
    }
    td {
      text-align: center;
      @include mobile {
        border: 1px solid $color__light_blue;
      }
    }
  }
}
