#myFooter {
  //background: $color__teal;
  background: $color__polygon4_blue;
  @include mobile {
    background: $color__polygon1_blue;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 180px;
  //max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  //box-shadow: 5px 0 15px 0px #bbb, -5px 0 8px 0px #bbb;
  @include mobile {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 120px;
  }
  #footer-navigation {
    z-index: 4;
    width: 15%;
    height: 100%;
    min-width: 200px;
    li {
      margin-bottom: 15px;
      &::before{
        display: none;
      }
      &:hover {
        .sub-menu {
          display: none !important;
        }
      }
    }
    @include mobile {
      display: none;
    }
    ul {
      width: auto;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      padding: 0;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        margin: 0px;
        &:last-child {
          margin-bottom: 0px;
        }
        width: 100px;
        margin-top: 5px;
        a {
          font-family: 'Noto Sans';
          font-size: 15px;
          //color: $color_dark_grey;
          color: #fff;
          &:hover {
            color: $color__light_blue;
          }
        }
      }
    }
  }

  #footer-middle-column {
    z-index: 4;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      order: 10;
      width: 80%;
      height: 100%;
    }
    p {
      margin: 0px;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-size: 12px;
    }
    .social-media-container {
      z-index: 4;
      margin-top: auto;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      @include mobile {
        margin-top: auto;
        display: flex;
        justify-content: center;
      }
      .link-googlePlus {
        margin-right: 20px;
        .googleplus-logo {
          filter: invert(1);
          height: 30px;
          width: 30px;
        }
      }
      .link-linkedin {
        .linkedin-logo {
          filter: invert(1);
          height: 30px;
          width: 30px;
        }
      }
    }
    .footer-tagline{
      z-index: 4;
      margin-top: 20px;
      object-fit: contain;
      width:60%;
      margin-left: auto;
      margin-right: auto;
      @include mobile {
       // display: none;
       width:80%;
      }
    }
  }

  #footer-right-column {
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    .software-link {
      z-index: 4;
      @include mobile {
        display: none;
      }
      .software-logo {
        width: 80%;
        //border-radius: 15px;
        // border: 10px solid #fff;
        margin-bottom: 20px;
        filter: brightness(100%);
      }
    }
  }
}

// .big-curve2 {
//   height: 200px;
//   width: 100%;
//   z-index: 3;
//   position: absolute;
//   bottom: 0px;
//   @include mobile {
//     display: none;
//   }
//   img {
//     height: 200px;
//     width: 100%;
//     object-fit: cover;
//     object-position: 0px 1vw;
//     margin: 0px;
//     margin-left: -2px;
//     filter: brightness(100%);
//   }
// }

.cadsim-footer {
  .software-logo {
    filter: brightness(100%) !important;
  }
}
