#myFooter {
  background: $color__polygon1_blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
  //max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  //box-shadow: 5px 0 15px 0px #bbb, -5px 0 8px 0px #bbb;
  @include mobile {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100px;
  }
  #footer-navigation {
    z-index: 4;
    width: 15%;
    height: 100%;
    li {
      &:hover {
        .sub-menu {
          display: none !important;
        }
      }
    }
    @include mobile {
      display: none;
    }
    ul {
      width: auto;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      padding: 0;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        margin: 0px;
        &:last-child {
          margin-bottom: 0px;
        }
        width: 100px;
        margin-top: 5px;
        a {
          font-family: 'Noto Sans';
          font-size: 15px;
          color: #fff;
          &:hover {
            color: $color__light_blue;
          }
        }
      }
    }
  }

  #footer-middle-column {
    z-index: 4;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      order: 10;
      width: 80%;
    }
    p {
      margin: 0px;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-size: 12px;
    }
    .footer-brief-description {
      z-index: 4;
      font-size: 15px;
      margin-top: 20px;
      color: $color__light_grey;
      text-align: left;
      @include mobile {
        display: none;
      }
    }
  }

  #footer-right-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .software-link {
      z-index: 4;
      @include mobile {
        display: none;
      }
      .software-logo {
        width: 80%;
        //border-radius: 15px;
        // border: 10px solid #fff;
        margin-top: 20px;
        filter: brightness(100%) drop-shadow(0px 0px 3px #fff);
      }
    }
    .social-media-container {
      z-index: 4;
      margin-top: 10px;
      @include mobile {
        margin-top: 25px;
        display: flex;
        justify-content: center;
      }
      .link-googlePlus {
        margin-right: 10px;
        .googleplus-logo {
          filter: invert(1);
          height: 30px;
          width: 30px;
        }
      }
      .link-linkedin {
        .linkedin-logo {
          filter: invert(1);
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

.big-curve2 {
  height: 200px;
  width: 100%;
  z-index: 3;
  position: absolute;
  bottom: 0px;
  @include mobile {
    display: none;
  }
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 2vw;
    filter: brightness(100%);
  }
}

.cadsim-footer {
  .software-logo {
    filter: brightness(100%) !important;
  }
}
