.content-home-page {
  //max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  //box-shadow: 5px 0 15px -4px #bbb, -5px 0 8px -4px #bbb;
  @include mobile {
    box-shadow: none;
  }
}
@include mobile {
  .carousel-control-next {
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}
// #carouselExampleControls{
//   margin-top: 70px;
//   display: block;
//   width:100%;
//   max-width: 1280px;
//   margin-left: auto;
//   margin-right: auto;
//   z-index: 0;
//   box-shadow: 5px 0 15px -4px #bbb, -5px 0 8px -4px #bbb;
//   @include mobile {
//     box-shadow: 5px 0 15px -4px #000, -5px 0 8px -4px #000;
//   }
// }
.carousel-indicators {
  li {
    background-color: $color__blue !important;
  }
}
.slides-container {
  z-index: 1;

  .each-slide-item {
    width: 100%;
    //height: 20vh;
    min-height: 300px;
    @include mobile {
      //height: 400px;
      min-height: 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  // .slide-item1 {
  //   background: linear-gradient(
  //       270deg,
  //       rgba(54, 205, 211, 1) 0%,
  //       rgba(255, 255, 255, 0) 50%,
  //       rgba(0, 68, 128, 1) 100%
  //     ),
  //     linear-gradient(0deg, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29)),
  //     url('../../assets/images/CogenPipesBackground2.jpg');
  //   background-size: cover cover cover;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   background-attachment: fixed;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   @include mobile {
  //     flex-direction: column;
  //   }
  //   .slide1-hook {
  //     margin-top: 30px;
  //     width: 40%;
  //     @include mobile {
  //       width: 90%;
  //     }
  //     p {
  //       //width: 50%;
  //       color: #fff;
  //       font-family: 'Poiret One';
  //       font-size: 20px;
  //       margin-left: 20%;
  //       @include mobile {
  //         width: 80%;
  //         font-size: 20px;
  //         line-height: 25px;
  //         margin-top: 10px;
  //         margin-bottom: 0px;
  //         margin-left: auto;
  //         margin-right: auto;
  //       }
  //     }
  //   }
  //   .slide1-bottom-content {
  //     display: flex;
  //     flex-direction: row;
  //     height: 50%;
  //     justify-content: flex-end;
  //     align-items: flex-end;
  //     width: 40%;
  //     @include mobile {
  //       height: auto;
  //       width: 90%;
  //       flex-direction: column;
  //       justify-content: flex-start;
  //       align-items: center;
  //     }
  //     p {
  //       color: #fff;
  //       margin-bottom: 0px;
  //       margin-right: 20px;
  //       font-family: 'Poiret One';
  //       font-size: 30px;
  //       letter-spacing: 2px;
  //       text-align: end;
  //       @include mobile {
  //         margin: 0px;
  //         margin-top: 12%;
  //         text-align: center;
  //         font-size: 20px;
  //       }
  //     }
  //     a {
  //       margin-right: 20%;
  //       @include mobile {
  //         margin: 0px;
  //       }
  //       .software-logo {
  //         width: 200px;
  //         height: auto;
  //         object-fit: contain;
  //         // border-radius: 15px;
  //         //border: 10px solid #fff;
  //         // background: #fff;
  //         filter: brightness(180%) drop-shadow(5px 5px 5px #fff);
  //         transition: all 0.3s;
  //         @include mobile {
  //           width: 150px;
  //           margin-top: 5px;
  //         }
  //         &:hover {
  //           // box-shadow: 0px 0px 15px #bbbbbb;

  //           filter: brightness(100%);
  //           border-radius: 15px;
  //           padding: 10px;
  //           background: #fff;
  //         }
  //       }
  //     }
  //   }
  // }
  .slide-item1 {
    height: 300px;
    position: relative;
    @include mobile{
      height:250px;
    }
    @include wide {
      height: 400px;
    }
    @include superWide {
      height: 500px;
    }
    .slide1-hook {
      position: absolute;
      top: 30px;
      left: 200px;
      width: 300px;
     // width:22%;
      @include mobile{
        width:80%;
        left: 10%;
      }
      @include wide{
        width: 350px;
      }
      @include superWide{
        width:20%;
        top: 80px;
      }
      p {
        color: #fff;
        font-family: 'UEFA Supercup';
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 20px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        @include mobile{
        font-size: 20px;
        }
        @include wide{
          font-size: 25px;
        }
        @include superWide{
  
        }
      }
      .paragraph2{
        color: $color__teal;
        span{
          color: #fff;
        }
      }
    }
    img {
      object-fit: cover;
      object-position: 0 100%;
      height: 100%;
      width: 100%;
      @include mobile{
        object-fit: cover;
        }
        @include wide{
  
        }
        @include superWide{
  
        }
    }
  }
}
.section-what-we-do {
  position: relative;
  margin: 0px;
  //background: $color__polygon1_blue;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    background: #fff;
    flex-direction: column;
  }

  .what-we-do-container {
    position: relative;
    background: none;
    margin: 0px;
    width: 100%;
    padding: 0px;
    .what-we-do-title {
      text-align: center;
      font-family: 'Lalezar';
      letter-spacing: 1px;
      color: $color__blue;
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
      background: transparent;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      z-index: 3;
      // position: absolute;
      // top: 50px;
      // left: 15%;
      @include mobile {
        //display: none;
      }
    }
    p {
      font-size: 15px;
    }
    @include mobile {
      width: 100%;
      padding-bottom: 50px;
    }
  }
}

.what-we-do {
  text-align: center;
  font-family: 'Lalezar';
  letter-spacing: 1px;
  color: $color__blue;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 0px;
  background: transparent;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  display: none;
  @include mobile {
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 30px;
    // background: $color__polygon1_blue;
    // color: #fff;
    margin-top: 0px;
  }
}
.main-services-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  //background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  // margin-bottom: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  // padding-top: 0px;
  //box-shadow: 5px 0 15px -4px #bbb;
  z-index: 3;
  @include mobile {
    flex-direction: column;
    padding-top: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .software-link {
    width: 100%;
  }
  .each-services {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 3px 0 10px #bbb;
    background: #fff;
    @include mobile {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
    .software-logo {
      width: 55%;
      object-fit: contain;
      margin-bottom: 5px;
      // filter: brightness(140%) drop-shadow(0px 0px 3px #fff);
    }
    @include mobile {
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
      padding-bottom: 30px;
    }
    h2 {
      font-size: 25px;
      text-align: left;
      color: $color__blue;
      font-weight: bold;
      margin: 0px;
      padding-top: 20px;
      padding-bottom: 20px;

      text-align: center;
      @include mobile {
        margin-top: 40px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }
    }
    p {
      font-size: 15px;
      width: auto;
      margin: 0px;
      margin-bottom: 10px;
      text-align: center;
      color: $color__blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .three-links-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    @include mobile {
      flex-direction: column;
    }
    p {
      display: inline-block;
      //width: 150px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      @include mobile {
        font-size: 15px;
      }
    }
  }
  .service-block {
    width: 100%;
    min-width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .white-block {
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      @include mobile {
        h2 {
          margin-top: 0px;
          width: 100%;
        }
      }
    }
  }

  .service-block1 {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
      url('../../assets/images/CadsimPlus_SoftwareBox.png');
    background-position: center, center 0;
    background-repeat: repeat, no-repeat;
    background-size: cover, 60%;

    //filter: brightness(120%);
  }
  .service-block2 {
    background: url('../../assets/images/modeling.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service-block3 {
    background: url('../../assets/images/onlineApplication.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.what-we-do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  p {
    width: 100%;
    max-width: 1200px;
    margin: 5px auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  @include mobile {
    flex-direction: column;
  }
  .hexagon {
    width: 40vw;
    height: 40vw;
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    background: url('../../assets/images/hexagon.png');
    background-size: 150%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8%;
    z-index: 3;
    @include mobile {
      background: none;
      width: 100%;
      max-width: 1280px;
      margin-left: 0px;
      flex-wrap: wrap;
      flex-direction: row;
    }
    a {
      text-decoration: none;
    }
    .hexagon-industry-container1 {
      height: 21%;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -10%;
      @include mobile {
        order: 1;
        height: 50px;
        width: 50%;
        margin: 0px;
        justify-content: flex-start;
        padding-left: 4vw;
        .industry1-container {
        }
      }
    }
    .hexagon-industry-container2 {
      height: 29%;
      width: 126%;
      display: flex;
      justify-content: space-between;
      margin-left: -14%;
      margin-top: -3%;
      @include mobile {
        order: 3;
        height: 50px;
        width: 100%;
        margin: 0px;
        padding-left: 4vw;
        padding-right: 4vw;
        .industry2-container {
          background: $color__blue3 !important;
        }
        .industry3-container {
          background: $color__blue4 !important;
        }
      }
    }
    .hexagon-industry-container3 {
      height: 29%;
      width: 126%;
      display: flex;
      justify-content: space-between;
      margin-left: -14%;
      margin-top: 30%;
      @include mobile {
        order: 4;
        height: 50px;
        width: 100%;
        margin: 0px;
        padding-left: 4vw;
        padding-right: 4vw;
        .industry4-container {
          background: $color__blue4 !important;
        }
        .industry5-container {
        }
      }
    }
    .hexagon-industry-container4 {
      height: 21%;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: -10%;
      @include mobile {
        order: 2;
        height: 50px;
        width: 50%;
        margin: 0px;
        justify-content: flex-end;
        padding-right: 4vw;
        .industry6-container {
          background: $color__blue3 !important;
        }
      }
    }
    .industry-link {
      display: flex;
      justify-content: center;
      align-items: center;
      .industry-logo-container {
        width: 120px;
        height: 120px;
        background: $color__industry;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .industry-logo {
          width: 70px;
          height: 70px;
          filter: invert(1);
        }
        p {
          display: none;
          color: #fff;
          font-family: 'Lalezar';
          margin-top: auto;
          margin-bottom: auto;
          text-align: center;
          font-size: 25px;
          padding-right: 10px;
        }
        transition: 0.3s ease-in-out;
        &:hover {
          width: 250px;
          border-radius: 60px;
          z-index: 9999;
          box-shadow: 0px 0px 15px #4d4d4d;
          .industry-logo {
            width: 60px;
            height: 60px;
            margin-left: 20px;
            margin-right: 10px;
          }
          p {
            display: inline;
          }
        }
        @include mobile {
          width: 45vw;
          height: 55px;
          border-radius: 40px;
          z-index: 9999;
          box-shadow: 0px 0px 15px #4d4d4d;

          .industry-logo {
            width: 40px;
            height: 40px;
            margin-left: 10px;
            margin-right: 10px;
            @include mobile {
              width: 30px;
              height: 30px;
              margin-left: 15px;
              margin-right: 15px;
            }
          }
          p {
            display: inline;
            @include mobile {
              font-family: 'Noto Sans';
              font-size: 16px;
            }
          }
          &:hover {
            width: 45vw;
            height: 55px;
            border-radius: 40px;
            z-index: 9999;
            box-shadow: 0px 0px 15px #4d4d4d;

            .industry-logo {
              width: 40px;
              height: 40px;
              margin-left: 10px;
              margin-right: 10px;
              @include mobile {
                width: 30px;
                height: 30px;
                margin-left: 15px;
                margin-right: 15px;
              }
            }
            p {
              display: inline;
              @include mobile {
                font-family: 'Noto Sans';
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .position-helper-container {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 40vw;
      height: 40vw;
      max-width: 500px;
      max-height: 500px;
      min-width: 200px;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile {
        display: none;
      }
      p {
        width: 33%;
        text-align: center;
        margin: 0;
        margin-left: -20px;
        color: $color__blue;
        font-family: 'Lalezar';
        font-size: 30px;
        letter-spacing: 1px;
        //background: $color__light_blue;
        padding: 10px;
        border-radius: 20px;
        opacity: 1;
      }
    }
  }

  .right-column {
    //margin-left: 10%;
    // width: 40vw;
    //max-width: 500px;
    width: 90%;
    z-index: 3;
    @include mobile {
      width: 100vw;
      max-width: 1280px;
      margin-top: 30px;
      margin-left: 0px;
    }
  }
}

// .front-page-linear-background-picture {
//   display: none;
//   width: 100%;
//   height: 20vh;
//   position: absolute;
//   bottom: 0px;
//   max-width: 1280px;
//   margin-left: auto;
//   margin-right: auto;
//   background: linear-gradient(
//       0deg,
//       rgba(100, 205, 211, 0.5),
//       rgba(255, 255, 255, 1)
//     ),
//     url('../../assets/images/Pumps1.jpg');
//   background-size: cover;
//   background-position: center, 50% 18%;
//   background-repeat: no-repeat no-repeat;
//   opacity: 0.5;
//   margin-top: -10vh;
//   @include mobile {
//     display: none;
//   }
// }

.front-page-linear-background {
  width: 100%;
  height: 35vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 1)
    ),
    url('../../assets/images/Pumps1.jpg');
  background-size: cover, cover;
  background-position: center, 50% 18%;
  background-repeat: no-repeat no-repeat;
  z-index: 1;
  opacity: 0.9;
  filter: blur(2px);
  @include mobile {
    display: none;
    margin-top: -40vh;
    width: 100%;
    height: 500px;
    background: linear-gradient(
        0deg,
        rgba(223, 233, 246, 0.7),
        rgba(223, 233, 246, 0.7)
      ),
      url('../../assets/images/Pumps1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// .front-page-bottom-banner {
//   margin-top: 12vh;
//   margin-bottom: 0px;
//   display: none;
//   @include mobile {
//     margin-top: 0px;
//     height: 40vh;
//     margin-top: 30px;
//     margin-bottom: 80px;
//   }
//   .row-first {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     @include mobile {
//       position: relative;
//       justify-content: center;
//     }
//     .cadsim-logo-container {
//       width: 20%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       @include mobile {
//         position: absolute;
//         top: 0px;
//         width: auto;
//         height: 40vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//       img {
//         object-fit: contain;
//         @include mobile {
//           width: 35vw;
//           height: 35vw;
//           padding: 10px;
//           background: #fff;
//           border-radius: 50%;
//           z-index: 100;
//           box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
//         }
//       }
//     }
//   }
//   .row-second {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     margin-top: 3vh;
//     @include mobile {
//       margin-top: 0px;
//       position: relative;
//       justify-content: center;
//     }
//     .polygon-container {
//       margin-left: 5vw;
//       margin-right: 5vw;
//       z-index: 5;
//       @include mobile {
//         margin-left: 0px;
//         margin-right: 0px;
//         margin: 10px;
//       }
//     }
//   }
// }

.overlay {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background-color: $color__deep_blue;
  //overflow: hidden;
  width: 100%;
  //height: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
    display: none;
  }
  a {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 11px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-bottom: 5px;
    transition: all 300ms;
    font-size: 10px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@include mobile {
  #polygon-block1 {
    justify-content: flex-start;
    align-items: flex-start;
  }
  #polygon-block2 {
    justify-content: flex-start;
    align-items: flex-end;
  }
  #polygon-block3 {
    justify-content: flex-end;
    align-items: flex-start;
  }
  #polygon-block4 {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

$unite-length: 220px;
$polygon-color: $color__bottom_polygons;
.polygon-container {
  width: $unite-length;
  height: 0.55 * $unite-length;
  background: $polygon-color;
  position: relative;
  margin: 0.25 * $unite-length auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.25);
  transition: all 500ms;
  &:hover .overlay {
    // height: 100%;
  }
  &:hover {
    transform: scale(1.5);
    @include mobile {
      transform: none;
      .overlay {
        display: none;
      }
    }
  }
  @include mobile {
    margin: 10px;
    width: 40vw;
    height: 18vh;
    box-shadow: none;
    padding: 5px;
    &:before {
      border: none !important;
    }
    &:after {
      border: none !important;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: -0.25 * $unite-length;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0.5 * $unite-length solid transparent;
    border-right: 0.5 * $unite-length solid transparent;
    border-bottom: 0.25 * $unite-length solid $polygon-color;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -0.25 * $unite-length;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0.5 * $unite-length solid transparent;
    border-right: 0.5 * $unite-length solid transparent;
    border-top: 0.25 * $unite-length solid $polygon-color;
  }
  h3 {
    color: #fff;
    font-size: 15px;
    font-family: 'Lalezar';
    letter-spacing: 1px;
    transition: all 0.5s;
    //margin: 5px;
    margin: 0px;
    @include mobile {
      font-size: 20px;
      margin: 10px;
      letter-spacing: 1px;
    }
  }
}

.big-curve1 {
  height: 50px;
  width: 100%;
  z-index: 0;
  @include mobile {
    height: 50px;
  }
  img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    resize: horizontal;
    object-position: 0px -15vw;
  }
}

.banner-img {
  width: 100%;
  height: auto;
}
.industry-list-title {
  position: relative;
  z-index: 3;
  font-weight: bold;
  margin-top: 10px;
}
.industry-list-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  .industry-link {
    transition: 0.3s all;
    &:hover {
      // text-decoration-color: #fff;
      text-decoration: none;
      transform: scale(1.07);
      @include mobile {
        transform: none;
      }
    }
  }
  .each-button {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    // background: red;
  }
  .link30 {
    width: 32%;
    margin-bottom: 15px;
    @include mobile {
      width: 45%;
      &:nth-of-type(3) {
        order: 5;
        margin-top: 15px;
      }
    }
  }
  .link40 {
    width: 42%;
    @include mobile {
      width: 45%;
      order: 6;
      margin-top: 15px;
    }
  }
  .link25 {
    width: 27%;
    @include mobile {
      width: 45%;
    }
  }
  $filter_opticity: 0.45;
  #pulp {
    background: linear-gradient(
        rgba(0, 0, 0, $filter_opticity) 0%,
        rgba(0, 0, 0, $filter_opticity) 100%
      ),
      url('../../assets/industries/pulp.jpg');
    background-position: cover, center;
    background-size: cover, cover;
  }
  #forest {
    background: linear-gradient(
        rgba(0, 0, 0, $filter_opticity) 0%,
        rgba(0, 0, 0, $filter_opticity) 100%
      ),
      url('../../assets/industries/wood.png');
    background-position: center;
    background-size: cover;
  }
  #food {
    background: linear-gradient(
        rgba(0, 0, 0, $filter_opticity) 0%,
        rgba(0, 0, 0, $filter_opticity) 100%
      ),
      url('../../assets/industries/foodProcessing.png');
    background-position: cover, center;
    background-size: cover, cover;
  }
  #water {
    background: linear-gradient(
        rgba(0, 0, 0, $filter_opticity) 0%,
        rgba(0, 0, 0, $filter_opticity) 100%
      ),
      url('../../assets/industries/water.png');
    background-position: cover, center;
    background-size: cover, cover;
  }
  #mineral {
    background: linear-gradient(
        rgba(0, 0, 0, $filter_opticity) 0%,
        rgba(0, 0, 0, $filter_opticity) 100%
      ),
      url('../../assets/industries/mining.png');
    background-position: cover, center;
    background-size: cover, cover;
  }
  #research {
    background: linear-gradient(
        rgba(0, 0, 0, $filter_opticity) 0%,
        rgba(0, 0, 0, $filter_opticity) 100%
      ),
      url('../../assets/industries/research.png');
    background-position: cover, center;
    background-size: cover, cover;
  }
}
