.fixed-header-logged {
  @media screen and (max-width: 782px) {
    top: 46px;
  }
  top: 32px;
}
.fixed-header-unlog {
  top: 0px;
}

.site-header {
  box-shadow: 0px 5px 15px #bbbbbb;
  @include mobile {
    box-shadow: 0px 0px 5px $color__grey;
  }
  height: $header_height;
  width: 100vw;
  z-index: 9999;
  position: fixed;
  right: 0px;
  background: #fff;
  transition: right 0.5s ease-in-out;
  .header-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include mobile {
      justify-content: flex-start;
      padding-left: 20px;
    }
    .logo-link {
      display: flex;
      align-items: center;
      width: 230px;
      height: 40px;
      .site-logo {
        object-fit: contain;
        filter: drop-shadow(5px 5px 5px #bbb);
      }
    }
    .site-navigation {
    }
  }
}
.menu-primary-container ul {
  width: auto;
  padding: 0px;
  display: flex;
  height: $header_height;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  @include mobile {
    display: none;
  }
  li {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      text-decoration: none;
      font-family: 'Lalezar';
      font-size: 18px;
      letter-spacing: 1px;
      transition: 0.5s;
      color: $color__header_text;
      &:hover {
        color: $color__header_text_hover;
        filter: drop-shadow(5px 5px 10px $color__header_text_hover);
      }
    }
  }
}
#mobile-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 180px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0.1s;
  margin: 0px;
  padding: 0px;
  display: block;
  flex-direction: column;
  list-style-type: none;
  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    width: 100%;
    margin-right: 0px;

    a {
      color: #fff;
      font-size: 20px;
      letter-spacing: 2px;
      font-family: 'Noto Sans';
      font-weight: bold;
      &:hover {
        color: $color__light_teal;
        filter: none;
        opacity: 0.8;
      }
    }
  }
}

/*----stylize nav-trigger actions and looks-----*/
/*hide the checkbox*/
.nav-trigger {
  display: none;
  @include mobile {
    display: block;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    z-index: 99999;
  }
}

label[for='nav-trigger'] {
  display: none;
  @include mobile {
    display: block;
    /*nav stays in the same spot as user scrolls*/
    position: fixed;
    /*position hamburger menu*/
    top: 21px;
    right: 15px;
    /*z-index needs to be 1 higher than site-wrap*/
    z-index: 2;
    width: 30px;
    height: 30px;
    /*changing to pointer indicates interactivity*/
    cursor: pointer;
    color: #111111;
    .hamburger-menu-logo {
    }
  }
}

/*the following lines make the effect work*/
/*below styling controls label position when menu opens- add 15px, because we did left:15px in label[for="nav-trigger"]*/
/*uses adjacent sibling selector (+)--> nav-trigger:checked must come first so label moves after checkbox is activated*/
.nav-trigger:checked + label {
  right: 200px;
}

/*add slight transition to effect*/

.nav-trigger + label {
  transition: right 0.5s ease-in-out;
}
#primary-menu {
  li {
    position: relative;
    &:hover {
      .sub-menu {
        display: block !important;
        @include mobile {
          display: none;
        }
      }
    }
    .sub-menu {
      position: absolute;
      left: -30px;
      top: $header_height;
      display: none !important;
      float: unset;
      .current_page_item {
        background: $color__blue2;
        a {
          color: #fff;
        }
      }
      li {
        box-sizing: content-box;
        height: auto;
        background: $color__submenu_background;
        transition: background 400ms linear;
        border-bottom: 1px solid $color__blue;
        &:hover {
          background: $color__submenu_hover_background;
          a {
            color: $color__submenu_hover_text;
          }
        }
        a {
          color: $color__submenu_text;
          padding: 15px;
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          text-align: center;
          transition: none;
          white-space: nowrap;
          font-family: 'Noto Sans';
          letter-spacing: 0px;
          font-size: 15px;
          font-weight: bold;
          &:hover {
            filter: none;
          }
        }
      }
    }
  }
}
