.fixed-header-logged {
  @media screen and (max-width: 782px) {
    top: 46px;
  }
  top: 32px;
}
.fixed-header-unlog {
  top: 0px;
}

.site-header {
  box-shadow: 0px 5px 15px #bbbbbb;
  @include mobile {
    box-shadow: 0px 0px 5px $color__grey;
  }
  height: $header_height;
  width: 100vw;
  z-index: 9999;
  position: fixed;
  right: 0px;
  background: #fff;
  transition: right 0.5s ease-in-out;
  .header-container {
    flex: 1;
    height: 100%;
    display: flex;
    // flex-direction: row-reverse;
    // justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    @include mobile {
      justify-content: flex-start;
      flex-direction: row;
      padding-left: 20px;
    }
    @include wide {
    }
    @include superWide {
      flex-direction: row;
      justify-content: space-around;
    }
    .logo-link {
      display: flex;
      align-items: center;
      width: 230px;
      height: 40px;
      // margin-left: auto;
      // margin-right: 15px;
      // padding-right: 15px;
      // @include mobile {
      //   margin-left: 0px;
      // }
      // @include normal{
      //   padding-right: 0px;
      // }
      // @include wide {
      //   margin-left: 350px;
      // }
      // @include superWide {
      //   margin-left: 0px;
      //   margin-right: 0px;
      // }
      @include normal{
        display: none;
      }
      @include mobile{
        display: flex;
      }
      .site-logo {
        height: 100%;
        min-width: 100px;
        object-fit: contain;
        filter: drop-shadow(5px 5px 5px #bbb);
      }
    }
    .site-navigation {
    }
  }
}
#mobile-menu {
  margin: 0px;
  padding: 0px;
  position: fixed;
  margin-left: auto;
  top: 0px;
  right: 0px;
  width: 180px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0.1s;
  height: 0px;
  display: block;
  flex-direction: column;
  list-style-type: none;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    width: 100%;
    margin-right: 0px;
    height: auto;
    //min-height: 50px;

    a {
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      font-family: 'Noto Sans';
      font-weight: bold;
      &:hover {
        color: $color__light_teal;
        filter: none;
        opacity: 0.8;
      }
    }
  }
}
#mobile-menu {
  ul {
    height: auto;
  }
  .sub-menu {
    transition: all 0.5s ease-in-out;
    max-height: 0px;
    overflow: hidden;
  }
  li {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    &:before {
      background: none;
    }
    a {
      line-height: 20px;
      width: 100%;
      height: 100%;
      margin: 0px !important;
      text-align: center;
      padding-bottom: 10px;
    }
  }
  .expand-sub-menu {
    .sub-menu {
      max-height: 1000px;
      &:last-child {
        margin-bottom: 10px;
        a {
          overflow: visible;
        }
      }
    }
  }
  .menu-item-has-children {
    a {
      padding-bottom: 0px;
    }
    &:after {
      content: ' +';
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 20px;
      color: #fff;
    }
  }
  li {
    ul {
      //display: none;
      display: block;
      margin: 0px;
      padding: 0px;
      padding-bottom: 10px;
      .menu-item-has-children {
        &:after {
          content: none;
        }
      }
      li {
        //border: 5px solid red;
        padding-left: 8px;
        border-bottom: none;

        a:before {
          content: ' -';
        }
        //height:30px;
        a {
          text-indent: -8px;
          padding-left: 8px;
          font-weight: 100;
          font-size: 15px;
          margin-top: auto;
          margin-bottom: auto;
          text-align: left;
          padding-bottom: 20px;
        }
      }
      ul {
        position: inherit;
        display: none;
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

/*----stylize nav-trigger actions and looks-----*/
/*hide the checkbox*/
.nav-trigger {
  display: none;
  @include mobile {
    display: block;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    z-index: 99999;
  }
}

label[for='nav-trigger'] {
  display: none;
  @include mobile {
    display: block;
    /*nav stays in the same spot as user scrolls*/
    position: fixed;
    /*position hamburger menu*/
    top: 21px;
    right: 15px;
    /*z-index needs to be 1 higher than site-wrap*/
    z-index: 2;
    width: 30px;
    height: 30px;
    /*changing to pointer indicates interactivity*/
    cursor: pointer;
    color: #111111;
    .hamburger-menu-logo {
    }
  }
}

/*the following lines make the effect work*/
/*below styling controls label position when menu opens- add 15px, because we did left:15px in label[for="nav-trigger"]*/
/*uses adjacent sibling selector (+)--> nav-trigger:checked must come first so label moves after checkbox is activated*/
.nav-trigger:checked + label {
  right: 200px;
}

/*add slight transition to effect*/

.nav-trigger + label {
  transition: right 0.5s ease-in-out;
}

@include mobile {
  #site-navigation {
    display: none;
  }
}
@media (min-width: 740px) {
  .menu-primary-container > ul {
    width: auto;
    padding: 0px;
    display: flex;
    height: $header_height;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    @include mobile {
      display: none;
    }
    li {
      &:before {
        background: none;
      }
      margin: 0px;
      padding-right: 10px;
      padding-left: 10px;
      height: 100%;
      @include normal {
        padding-right: 5px;
        padding-left: 5px;
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        white-space: normal !important;
      }
      ul {
        li {
          height: auto;
          padding-left: 0px;
          padding-right: 0px;
          background: $color__submenu_background;
          transition: all 400ms ease-in-out;
          border-bottom: 1px solid $color__blue;
          @include mobile {
            background: none;
          }
          a {
            width: 100%;
            height: 100%;
            @include mobile {
              line-height: 50px;
              margin-top: -25px !important;
            }

            color: $color__submenu_text;
            //padding: 15px;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            text-align: center;
            transition: none;
            white-space: nowrap;
            font-family: 'Noto Sans';
            letter-spacing: 0px;
            font-size: 15px;
            font-weight: bold;
            &:hover {
              filter: none;
            }
          }
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
      a {
        text-decoration: none;
        font-family: 'Lalezar';
        font-size: 18px;
        letter-spacing: 1px;
        transition: 0.5s;
        color: $color__header_text;
        // margin-top: -15px !important;
        // padding-bottom: 10px;

        &:hover {
          color: $color__header_text_hover;
          filter: drop-shadow(5px 5px 10px $color__header_text_hover);
        }
      }
    }
  }
}

#primary-menu {
 position: relative;
  a {
    // display: block;
    // margin: 0px;
  }
  ul {
    position: relative;
    .menu-item-has-children {
      &:after {
        content: ' +';
        position: absolute;
        right: 8px;
        top: 10px;
        font-size: 20px;
        color: $color__teal;
      }
      // .menu-item-has-children{
      //   &:after {
      //     top: 10px;
      //     color: $color__teal;
      //   }
      // }
    }
    .current_page_item,
    .current-menu-item {
      background: $color__blue2;
    }
    .current_page_item > a,
    .current-menu-item > a {
      color: #fff !important;
    }
//hover colors
    li {
      &:hover {
        background: $color__submenu_hover_background;
        a {
          color: $color__submenu_hover_text;
        }
        ul {
          li {
            background:  $color__submenu_hover_background;////////////////
            a {
              color: $color__submenu_hover_text;
            }
            &:hover > a {
              color: $color__submenu_hover_text;
            }
            ul {
              li {
                background: $color__blue1;///////////////
                a {
                  color: $color__submenu_text;
                }
              }
            }
          }
        }
      }
    }
  }
 
  //hover extend animations
  li {
//header top links

    display: inline-block;
    //display: block;
    // height: 50px;
    ul{
      li{
       // max-height: 50px;
       // padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before{
          width: 0px;
          height: 0px;
        }
        a{
          padding-top: 12.5px;
          padding-bottom: 12.5px;
          width: 100%;
        }
      }
    }
   
  }
  .menu-item-has-children {
    .sub-menu{
      width: 100%;
    }
    //1sr layer sub-menus
    ul {
      position: relative;
      display: none;
      //display: inherit;///////////////////////header main menu
      position: absolute;
      top: $header_height;
      margin: 0px;
      margin-left: -100px;
      overflow: hidden;
      #menu-item-431{
        padding-right: 15px;
      }
      li {
        //display: inline-block;
        width: 250px;//
        float: none;
        position: relative;
      }
      .menu-item-has-children {
        //2rd layer menu
        ul {
          margin: 0px;
          position: relative; 
          top: 0px;
          padding-left: 0px;
          display: block;/////////////////////sub-menu
          //visibility: hidden;////////////////
          max-height: 0px;
          transition: max-height 0.8s ease-in-out;
          //overflow: hidden;
          //display: inherit;
          
          li {
            border-left: 10px solid $color__blue1;
            position: relative;
            //border-bottom: none;
            border-bottom-color:  $color__blue1;
            padding-right: 20px;            
            display: flex;
            flex-direction: column;
            justify-content: center;
            a{
              text-align: right;
              height: auto;
            }
            &:last-child{
              border-bottom: none;
            }
          }

          .menu-item-has-children{
          //3rd layer menu
            ul {
              width: 240px;
              margin-right: -20px;
              position: relative; 
              top: 0px;
              padding-left: 0px;
              margin-left: 0px;
              border-right: 10px solid $color__blue2;
              //padding-right: 5px;
              font-size: 15px !important;
              li {
                width: 100%;
                border-left: none;
                position: relative;
                border-bottom: none;
                padding-right: 0px;   
                a{
                 
                }

                //left: 228px;//
              }
            }
          }
        }
      }
    }
  }
}
.menu-item-805,
.menu-item-438,
.menu-item-839 {
  a {
    line-height: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}




#primary-menu >li {
  //background: red;
  &:hover>ul{
   
     // display: inherit;
      //display: block;

      .menu-item-has-children{

        &:hover{
          //height:auto;
          max-height: auto;
          //background: orange;
        }
      &:hover>ul{
        //visibility: visible;
        max-height: auto;
      }

    }

   
  } 
  
}

#primary-menu {
   //hover extend animations
   li:hover >ul {
    //hover header top links
      display: inherit;
   }
   .menu-item-has-children {
     //1sr layer sub-menus
     &:hover>ul{
       
      max-height: 1000px !important;
     }
     ul {
      
       li {
        
       }
       .menu-item-has-children {
         //2rd layer menu
         ul {
         
           li {
           
             
           }
 
           .menu-item-has-children{
           //3rd layer menu
             ul {
            
          
             }
           }
         }
       }
     }
   }
 }
