.content-about-page{
    position: relative;
}

.hero-title {
    position: absolute;
    top: 19vh;
    width: 100vw;
    max-width: 1280px;
    text-align: center;
    color: $color__blue;
    z-index: 100;
  }
  .hero-image {
    margin: 0px auto;
    margin-top: -30px;
    img {
      z-index: -1;
      width: 100%;
      max-width: 1280px;
      height: 50vh;
      object-fit: cover;
      object-position: center;
      opacity: 0.2;
    }
  }