.content-client-comments {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  .wp-block-quote {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid $color__blue;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 80%;
    box-shadow: 2px 3px 10px #bbb;
    &:nth-of-type(odd){
      margin-left: 50px;
      background: rgba(0, 66, 128,0.1);
      
      p{
        color: rgb(84, 84, 84);
      }
    }
    &:nth-of-type(even){
      margin-right: 50px;
    }
    @include mobile {
      width: 80%;
    }
    p {
      width: 85%;
    }
  }
  .entry-title {
    //border-bottom: none;
  }
}
