/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-content {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  //box-shadow: 5px 0 15px -4px #bbb, -5px 0 8px -4px #bbb;
  @include mobile {
    box-shadow: 5px 0 15px -4px #000, -5px 0 8px -4px #000;
  }
}
.site-home{
  max-width: 100%;
}

//qa model
.qa-container {
  article{
    position: relative;
  }
  .new-badge{
    position: absolute;
    right: 20%;
    top:-10px;
    z-index: 3;
  }
  h3 {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .each-newsletter {
    margin-bottom: 2px;
    &:nth-child(6n + 2) {
      .item-toggle-button {
        background: $color__blue2;
        margin-left: 20%;
        margin-right: auto;
      }
    }
    &:nth-child(6n + 3) {
      .item-toggle-button {
        background: $color__blue3;
        margin-left: 25%;
        margin-right: auto;
      }
    }
    &:nth-child(6n + 4) {
      .item-toggle-button {
        background: $color__blue4;
        margin-left: 30%;
        margin-right: auto;
      }
    }
    &:nth-child(6n + 5) {
      .item-toggle-button {
        background: $color__blue5;
        margin-left: 35%;
        margin-right: auto;
      }
    }
    &:nth-child(6n) {
      .item-toggle-button {
        opacity: 0.95;
        background: $color__blue1;
      }
    }
    &:nth-child(6n + 1) {
      .item-toggle-button {
        background: $color__blue;
        margin-left: 15%;
        margin-right: auto;
      }
    }
  }
  .item-toggle-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    opacity: 0.8;
    background: $color__blue;
    border-radius: 8px;
    border: none;
    @include mobile {
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &:hover {
      background: $color__button_blue;
      opacity: 1;
      p:after {
        border-right-color: $color__blue;
        opacity: 1;
      }
    }
    &:focus {
      background: $color__button_blue;
    }
    p:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: rotate(-90deg);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $color__button_blue;
    }
  }
  .card-body {
    display: block;
    width: 80%;
    margin: 10px auto;
    @include mobile {
      width: 90%;
    }
    h3,
    h4 {
      text-align: left;
      color: $color__blue;
      font-family: 'Lalezar';
      margin: 20px auto;
      letter-spacing: 1px;
      font-style: normal;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      @include mobile {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p {
      width: 90%;
      @include mobile {
        width: 95%;
      }
    }
    ul {
      @include mobile {
        margin-left: 10px;
        width: 90%;
      }
      ul {
        list-style-type: circle;
      }
    }
  }
}
.remove-margin {
  margin-top: 30px;
  .item-toggle-button {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    @include mobile {
      width: 80% !important;
    }
  }
}

.contact-block {
  background: #d1dceb;
  display: flex;
  flex-direction: row;
  color: #7598c4;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0px 5px 15px rgb(220, 220, 220);
  @include mobile {
    width: 90%;
    flex-direction: column;
  }
  .column {
    width: 60%;
    @include mobile {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    h3 {
      color: #7598c4;
      letter-spacing: 1px;
      font-style: normal;
      margin-bottom: 10px;
      margin-top: 10px;
      text-transform: capitalize;
    }
    p {
      margin-bottom: 10px;
    }
  }
  a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    background: #6f99cd;
    color: #fff;
    border-radius: 30px;
    @include mobile {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .cheatbox-logo {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    &:hover {
      text-decoration: none;
      background: $color__button_blue;
    }
  }
}

.content-version {
  h3,
  h4,
  h5 {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 10px;
    text-align: left;
  }
}

.content-archive-version{
  .archive-description{
    text-align: center;
  }
}

.faq-container {    
  .each-newsletter {
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .faq-toggle-button {
      width: 100%;
      background: $color__blue;
      opacity: 0.8;
      &:hover,
      &:focus {
        color: #fff;
        background: $color__button_blue;
        outline: none;
      }
      p{
        text-align: left;
        margin-bottom: 10px;
      }
    }
    .card-body {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.list-container{
  h3{
    margin-top: 100px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $color__grey;
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: none;
    li{
      width:33%;
      text-align: center;
    }
  }
}

.screenshots-container{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 
  .wp-block-image{
    width:30%;
    @include mobile {
      width:40%;
    }
    img{
      width:100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.research-flask{
  margin-left: 50px !important;
  margin-bottom: 20px !important;
  margin-right: 50px!important;
}