.row {
  padding: 30px;
}
// Card grid
.card-grid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0px;
  counter-reset: cell-number;
}

.card__cell {
  float: left;
  position: relative;
  counter-increment: cell-number;
  width: 50%;
  @include mobile {
    width: 100%;
  }
}

.card--basic {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card--basic a {
  text-decoration: none;
  display: block;
  background: $color__blue;
  border: 3px solid $color__blue;
  color: #fff;
  transition: background 0.5s, border 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bbb;
}

.is-not-selected .card--basic a {
  background: grey;
  border: 3px solid grey;
}

.card__img-container {
  position: relative;
}

// .card__img-container:after {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     content: "#" counter(cell-number);
//     transform: translate(-50%, -50%);
//     font-size: 4rem;
// }

.card__img {
  display: block;
  max-width: 250px;
  min-width: 150px;
  width: 20vw;
  max-height: 380px;
  min-height: 200px;
  height: 28vw;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  @include mobile {
    display: none;
  }
}

.card__text-container {
  position: absolute;
  bottom: 0%;
  display: table;
  max-width: 250px;
  min-width: 150px;
  width: 20vw;
  min-height: 106px;
  background: rgba($color: #000000, $alpha: 0.3);
  @include mobile {
    position: relative;
    max-width: 100%;
    width: 80vw;
    height: auto;
    min-height: 53px;
  }
  .member-brief-text {
    .member-name {
      font-size: 18px;
      margin: 0px;
      margin-top: 10px;
      color: #fff;
      letter-spacing: 1px;
      @include mobile {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: start;
      }
    }
    .member-role {
      font-size: 12px;
      margin-bottom: 10px;
      margin-top: 5px;
      @include mobile {
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }
  }
}

.card__text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
}

.card__cell.is-collapsed .card--basic {
  cursor: pointer;
}

.card__cell.is-expanded .card--expand {
  z-index: 1;
  opacity: 1;
  margin-bottom: 30px;
  animation: expandMargin;
}

.card--expand {
  position: relative;
  overflow: hidden;
  opacity: 0;
  box-shadow: inset 0 0 0 3px $color__blue;
  height: 0;
  transition: height 0.5s ease-in-out, margin-bottom 0.5s,
    opacity 0.5s ease-in-out;
    border-radius: 5px;
}

.card--expand__container {
  padding: 40px;
}

// Arrow Down
.card__cell .card--basic:after {
  content: '';
  border-top: 20px solid $color__blue;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 0;
  transform-origin: top center;
  transform: scale(0);
  left: 50%;
  margin-left: -20px;
  bottom: -19px;
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transition: transform 0.3s ease, border 0.5s;
}

.card__cell.is-not-selected .card--basic:after {
  border-top-color: grey;
}

.card__cell .card--basic:hover:after {
  transform: scale(0.3);
}

.card__cell.is-expanded .card--basic:after {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.49, 3, 0.51, 0.25), border 0.5s;
  //transition: transform .3s cubic-bezier(0.35, 1.88, 0.25, 0.1), border .5s;
}
.card__cell.is-expanded .card__text-container {
  background: rgba($color: $color__blue, $alpha: 0.6);
}

@keyframes expandMargin {
  0% {
    margin-top: 0px;
  }
  10% {
    margin-top: -10px;
  }
  20%,
  80% {
    margin-top: 0px;
  }
  90% {
    margin-top: 10px;
  }
  100% {
    transform: scale(1);
  }
}

.expand__close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #454545;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
}

.expand__close:before {
  content: '×';
}

.expand__close:hover,
.expand__close:active,
.expand__close:visited {
  text-decoration: none;
}

.card--large {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 991px) {
  .card__cell:nth-of-type(4n + 5) {
    clear: left;
  }
  .card--expand {
    width: 430%;
  }
}
@media only screen and (max-width: 768px) {
  .card__cell:nth-of-type(2n + 3) {
    clear: left;
  }
  .card--expand {
    width: 210%;
  }
}
@include mobile {
  .card__cell:nth-of-type(n + 2) {
    clear: left;
  }
  .card--expand {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .card__cell:nth-of-type(4n + 5) {
    clear: left;
  }
  .card--expand {
    width: 430%;
  }
}

.team-content {
  padding-bottom: 50px;
  #team-top-banner-container {
    .wp-block-image {
      width: 40%;
      height: auto;
      object-fit: contain;
      margin: 80px auto;
    }
    #team-page-title {
      color: $color__blue;
      border-bottom: 1px solid #c4c4c4;
      width: 80%;
      padding-bottom: 30px;
      @include mobile {
        letter-spacing: 1px;
        font-size: 30px;
      }
    }
  }
  h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: $color__blue;
  }

  #profile-large-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    img {
      width: 20vw;
      max-width: 200px;
      height: 20vw;
      max-height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      box-shadow: 0px 0px 10px #bbb;
      margin: 0 auto;
    }
    .member-role-expanded {
      font-size: 15px;
      font-style: italic;
      color: #454545;
      text-align: center;
      margin: 20px auto;
    }
  }
}

.member-detail-content{
  @include mobile {
    ul,h1,h2,h3,h4,p{
      width:100%;
    }
  }
}