.content-about-page {
  position: relative;
  .hero-title {
    color: $color__blue;
    @include mobile {
      letter-spacing: 1px;
      font-size: 40px;
    }
  }
  .hero-image {
    img {
      opacity: 0.2;
      filter: none;
    }
  }
}

.hero-title {
  position: absolute;
  top: 19vh;
  width: 100vw;
  max-width: 1280px;
  text-align: center;
  //color: $color__blue;
  color: #fff;
  z-index: 100;
  @include mobile {
    letter-spacing: 1px;
    font-size: 40px;
  }
}
.hero-image {
  margin: 0px auto;
  margin-top: -30px;
  img {
    z-index: -1;
    width: 100%;
    max-width: 1280px;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    filter: brightness(0.5);
  }
}
