// Card grid
.card-grid {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    counter-reset: cell-number;
}

.card__cell {
    float: left;
    position: relative;
    counter-increment: cell-number;
}

.card--basic {
    position: relative;
    margin-bottom: 30px;
}

.card--basic a {
    text-decoration: none;
    display: block;
    background: #0e7369;
    border: 3px solid #0e7369;
    color: #fff;
    transition: background 0.5s, border 0.5s;
}

.is-not-selected .card--basic a {
    background: grey;
    border: 3px solid grey;
}

.card__img-container {
    position: relative;
}

.card__img-container:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "#" counter(cell-number);
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

.card__img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.card__text-container {
    display: table;
    min-height: 106px;
    width: 100%;
}

.card__text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
}

.card__cell.is-collapsed .card--basic {
    cursor: pointer;
}

.card__cell.is-expanded .card--expand {
    z-index: 1;
    opacity: 1;
    margin-bottom: 30px;
    animation: expandMargin;
}

.card--expand {
    position: relative;
    overflow: hidden;
    opacity: 0;
    box-shadow: inset 0 0 0 3px #ef5031;
    height: 0;
    transition: height .5s ease-in-out, margin-bottom .5s, opacity .5s ease-in-out;
}

.card--expand__container {
    padding: 40px;
}

// Arrow Down
.card__cell .card--basic:after {
    content: '';
    border-top: 20px solid #0e7369;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 0;
    transform-origin: top center;
    transform: scale(0);
    left: 50%;
    margin-left: -20px;
    bottom: -19px;
    position: absolute;
    z-index: 2;
    transform: scale(0);
    transition: transform .3s ease, border .5s;
}

.card__cell.is-not-selected .card--basic:after {
  border-top-color: grey;
}

.card__cell .card--basic:hover:after {
    transform: scale(.3);
}

.card__cell.is-expanded .card--basic:after {
    transform: scale(1);
    transition: transform .3s cubic-bezier(.49, 3, .51, .25), border .5s;
    //transition: transform .3s cubic-bezier(0.35, 1.88, 0.25, 0.1), border .5s;
}

@keyframes expandMargin {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: -10px;
    }
    20%,
    80% {
        margin-top: 0px;
    }
    90% {
        margin-top: 10px;
    }
    100% {
        transform: scale(1);
    }
}

.expand__close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #454545;
    font-size: 50px;
    line-height: 50px;
    text-decoration: none;
}

.expand__close:before {
    content: '×';
}

.expand__close:hover,
.expand__close:active,
.expand__close:visited {
    text-decoration: none;
}

.card--large {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 991px) {
    .card__cell:nth-of-type(2n+3) {
        clear: left;
    }
    .card--expand {
        width: 200%;
    }
}

@media only screen and (min-width: 992px) {
    .card__cell:nth-of-type(4n+5) {
        clear: left;
    }
    .card--expand {
        width: 400%;
    }
}