.content-client-list {
  position: relative;
  ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      //text-align: center;
      text-align: left;
      padding-left: 100px;
      &::before {
        content: none;
        background: none;
      }
      @include mobile {
        width: 100%;
        padding-left: 0px;
      }
      @include normal{
        padding-left: 50px;
      }
    }
  }
}
