.content-about-page {
  position: relative;
  .hero-title {
    color: $color__blue;
    @include mobile {
      letter-spacing: 1px;
      font-size: 40px;
    }
  }
  .hero-image {
    width:100%;
    img {
      opacity: 0.2;
      filter: none;
    }
  }
  .as-background {
    position: relative;
    z-index: 0;
   right: 15%;
   margin-top: -15%;
 
    opacity: 0.1;
    display: flex;
    justify-content: flex-end;
    @include mobile {
      display: none;
    }
    img {
     
      object-fit: contain;
    }
  }
}

.hero-title {
  position: absolute;
  top: 7vh;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  //color: $color__blue;
  color: #fff;
  z-index: 100;
  @include mobile {
    letter-spacing: 1px;
    font-size: 40px;
  }
}
.hero-image {
  margin: 0px auto;
  margin-top: -30px;
  padding-bottom: 30px;
  width:100%;
  img {
    z-index: -1;
    width: 100%;
    //max-width: 1280px;
    height: 25vh;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    filter: brightness(0.5);
  }
}
