.content-client-list {
  position: relative;
  ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      text-align: center;
      @include mobile {
        width: 100%;
      }
    }
  }
}
