// Structure

$base__space-unit: 1.5rem;
$header_height:70px;

// Colors

$color__background-body: #fff;
$color__text-main: #000;

$color__background-screen: #fff;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #16427d;
$color__link-visited: #16427d;
$color__link-hover: #16427d;

// Typography

$font__main: 'Noto Sans';
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Main colors
$color__blue: rgb(0,66,128);//#16427d;
//backgrounds
$color__blue1: #3e6ba8;
$color__blue2: #0e59c2;
$color__blue3: #3873c1;
$color__blue4: #7393ba;
$color__blue5: #8db2e3;
$color__deep_blue: #23447f;
$color__light_blue: #dfe9f6;
//buttons
$color__button_blue: #67a8fe;
$color__button_blue1: rgb(40, 117, 218);

$color__green: #397c46;
$color__light_green: rgb(121, 255, 147);

//Text
$color__grey: #5c5c5c;
$color__light_grey: rgb(220, 220, 220);
$color__light_grey1: rgb(237, 237, 237);



//Text size
$mobile_text_size:15px;
$mobile_heading1_size:30px;
$mobile_heading2_size:18px;


// R: 0  G:66  B:128
