// Structure

$base__space-unit: 1.5rem;
$header_height: 70px;

// Colors

$color__background-body: #fff;
$color__text-main: #000;

$color__background-screen: #fff;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #007bff;
$color__link-visited: $color__link;
$color__link-hover: #16427d;

// Typography

$font__main: 'Noto Sans';
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Main colors
$color__blue: rgb(0, 66, 128); //#16427d;
//backgrounds
$color__blue1: #3e6ba8;
$color__blue2: #0e59c2;
$color__blue3: #3873c1;
$color__blue4: #7393ba;
$color__blue5: #8db2e3;
$color__deep_blue: #23447f;
$color__light_blue: #dfe9f6;


$color__teal: rgb(54, 205, 211);
$color__light_teal: #7CDFE3;//rgb(100, 205, 211);
$color__deep_teal: rgb(60, 131, 135);
$color__light_teal1: rgba(100, 205, 211, 1);
$color__light_teal2: #6ac4cc;
//buttons
$color__button_blue: #7b7c7c;
$color__button_blue1: rgb(40, 117, 218);

$color__green: #397c46;
$color__light_green: rgb(121, 255, 147);

//front-page colors
$color__polygon1_blue: linear-gradient(to right, rgb(27,68,127) 0%, rgb(53,206,211) 100%);
$color__polygon2_blue:linear-gradient(344.69deg, rgb(27,68,127) 55%, rgb(53,206,211) 100%);
$color__polygon3_blue:linear-gradient(167.4deg, rgb(27,68,127) 73%, $color__light_teal2 100%);
$color__industry:$color__blue;
$color__bottom_polygons:$color__deep_blue;
$color__linear_background:rgba(100,205,211, 0.2);

//header colors
$color__header_text:$color__blue;
$color__header_text_hover:$color__teal;
$color__submenu_text:$color__blue;
$color__submenu_background:$color__light_blue;
$color__submenu_hover_text:#fff;
$color__submenu_hover_background:$color__blue2;

//widget
$color__widget_background:$color__deep_blue;
$color__widget_text:#fff;
$hover_widget_link: $color__light_teal;

//Text
$color__grey: #5c5c5c;
$color__light_grey: rgb(220, 220, 220);
$color__light_grey1: rgb(237, 237, 237);

//Text size
$mobile_text_size: 15px;
$mobile_heading1_size: 30px;
$mobile_heading2_size: 18px;

// //new colors
// $color_blue:rgb(0,66,128);
// $color_dark_grey:rgb(98,110,119);
// $color_medium_grey:rgb(120,144,156);
// $color_light_grey:rgb(172,179,181);
// $color_turquoise:rgb(54,205,221);
