/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// widget-area
.widget-area{
	position: fixed;
	top:20vh;
	background: red;
	ul{
	  list-style-type: none;
	  padding:0px;
	  margin: 0px;
	}
  }
  .toggle-widget{
  position:fixed;
  top:20vh;
  left: 0px;
  
  }