/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

// widget-area
$widget_width: 180px;
.toggle-widget {
  position: fixed;
  height: 5vh;
  top: 20vh;
  left: 0px;
  display: flex;
  align-items: flex-end;
  z-index: 99999;
  .toggle-widget-button {
    height: 30px;
    width: 70px;
    box-shadow: none;
    border-radius: 4px;
    background-color: rgb(40, 117, 218);
    border: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.5s;
    padding: 5px;
    margin-left: 5px;
    &:focus {
      outline: 0;
    }
  }
}
.search-form {
  width: $widget_width;
  fieldset {
    border: none;
    margin-top: 20px;
    padding-bottom: 0px;
    label {
      display: flex;
      justify-content: center;
      .search-field {
        width: 80%;
      }
    }
  }
}
.widget-area {
  position: fixed;
  top: 25vh;
  left: 0px;
  background: $color__blue;
  border: 3px solid $color__light_blue;
  border-radius: 20px;
  box-shadow: 0 0 11px 0 #bbb;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  z-index: 99999;
  .widget-title {
    color: $color__light_blue;
    margin-left: 15%;
    font-size: 20px;
  }
  ul {
    width: auto;
    padding: 0px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      width: 70%;
      margin: 0px;
      margin-bottom: 10px;
      a {
        color: #fff;
        border: 1px solid $color__light_blue;
        padding: 3px;
        text-decoration: none;
        font-size: 12px;
        transition: 0.5s;
        &:hover {
          color: $color__light_green;
          border: 1px solid $color__light_green;
        }
      }
    }
  }
}
